.social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social img {
  width: 36px;
  height: 36px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px #00eaff);
}
