* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.section {
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, rgba(75, 117, 255, 0.788), rgba(255, 130, 182, 0.733));
    width: 100vw;

}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 60px;

}

.profile {
    width: 80%;
}

.profile img {
    transform: scale(0.6);
    border-radius: 50%;
    margin-left: 40px;
    border: 2px solid #ffffff7c;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.342);
}

.work {
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 4px;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.342);

}

.btn {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(92 67 125);
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.589);
}

.work-links {
    margin-top: 20px;
}

.about {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}

.about-para {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;

}

.section2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 80%;
    max-width: 900px;
    font-size: 14px;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.projects {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.proj-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    margin-top: 15px;

}

.project {
    background-color: grey;
    width: 200px;
    height: 230px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    text-align: center;
    padding-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    

}

.thumbnail-1 {
    background: #979797;
    height: 120px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 10px;
}
.thumbnail-2 {
    background: #979797;
    height: 120px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 10px;
}
.thumbnail-3 {
    background: #979797;
    height: 120px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 10px;
}

.project:hover {
    transform: translateY(-5px);
    /* scale: 110%; */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.project h3 {
    font-size: 18px;
    margin: 5px 0;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project p {
    font-size: 13px;
    color: #555;
    width: 85%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.contact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.contacts{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 15px;
}
.my-email{
    display: flex;
    /* flex-direction: column; */
    align-self: center;
    justify-content: center;
}
.my-github{
    display: flex;
    /* flex-direction: column; */
    align-self: center;
    justify-content: center;
}

.gmail-logo{
    width: 40px;
}
.gmail-logo:hover{
    cursor: pointer;
}

.github-logo{
    width: 40px;
}
.github-logo:hover{
    cursor: pointer;
}
.gmail-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #555;
    text-align: center;
}
.github-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #555;
    text-align: center;
}
